*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    height: 100px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
}

#main-content{
    height: 150vh;
    width: 100%;
    background-color: rebeccapurple;
    margin-top: 100px;
}

#section{
    height: 100px;
    width: 100%;
    background-color: greenyellow;
}

#article{
    height: 200px;
    width: 100%;
    background-color: royalblue;
    position: sticky;
    top: 100px;
}

#footer{
    height: 200px;
    width: 100%;
    background-color: hotpink;
}